{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Bienvenue !</h1>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quaerat, non perspiciatis dolore ipsa ipsam amet architecto assumenda magni. Rem quis autem cum qui temporibus placeat? Dicta, perferendis maiores. Assumenda. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sed reprehenderit quaerat ut vitae autem beatae. Eius odio laboriosam tempore sit debitis veritatis ad accusamus? Qui officia sunt nulla deserunt.
	</div>
{% endblock %}
