{% extends 'base.html.twig' %}

{% block title %}Le reglement
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Reglement intérieur : </h1>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae asperiores fugiat, nihil aperiam, dolore consequuntur perferendis voluptatum quia esse est molestias consequatur odio cumque atque iure culpa hic aut?</li>
            <li>Exercitationem, iusto ratione! Alias aliquid neque asperiores rerum repellat, harum officiis accusantium error suscipit delectus itaque deleniti fugit id iure facilis eum, pariatur fugiat quas? Deleniti blanditiis error impedit nulla.</li>
            <li>Impedit dolorum, rem laudantium qui quia voluptates cupiditate quas est. Vero laudantium odit possimus officia, eum voluptas quaerat omnis cumque. Commodi voluptatibus a dolor! Sit aliquam iure laudantium veniam ducimus?</li>
            <li>Temporibus vitae quasi eius facilis distinctio dolore qui odit minus ipsum ab maxime tempora quia delectus rerum sequi incidunt iure error nisi itaque doloribus, nihil fuga provident. Delectus, reiciendis libero!</li>
            <li>Rem libero possimus cum nobis? Corrupti, similique consectetur ipsum optio sed provident cumque a suscipit incidunt illum, eligendi natus iste voluptatem tempora modi quasi nam dignissimos ab vitae! Quisquam, modi!</li>
        </ul>
		<p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quaerat, non perspiciatis dolore ipsa ipsam amet architecto assumenda magni. Rem quis autem cum qui temporibus placeat? Dicta, perferendis maiores. Assumenda. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sed reprehenderit quaerat ut vitae autem beatae. Eius odio laboriosam tempore sit debitis veritatis ad accusamus? Qui officia sunt nulla deserunt.
        </p>
	</div>
{% endblock %}
